pandas
numpy
scipy
scikit-learn
plotly
torch
transformers
pytorch-lightning
matplotlib
seaborn
tqdm
jupyter-vscode-proxy
setuptools==57.5.0
accelerate
datasets
diffusers
invisible_watermark
ipywidgets
safetensors
sentence_transformers
ipyplot==1.1.0
sentencepiece
spacy
tensorflow[and-cuda]
tf-keras
torch
sacremoses
sentence-transformers